{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">ISPG:</span>Information Security and Privacy Group
      </h2>
      <p>ISPG focuses on Customer Service while identifying cybersecurity and privacy risk, implementing mitigation strategies and ensuring the confidentiality, integrity, and availability of all CMS information and information systems
</p>
      
    </div>
  </div>
</section>
