{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0"ISPG</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p> Welcome to ISPG.</p>  <p>How can we help you? </p>
      <form id="search_form" class="usa-search usa-search--small" action="/site/lrnettles/proof-of-concept/search/" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="affiliate" type="hidden" value="federalist-uswds-example" />
  
    <div role="search">
      <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
      <input class="usa-input usagov-search-autocomplete" id="extended-search-field-small" type="search" name="query" autocomplete="off">
      <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
    </div>
  </form>
      
      <p>Mission</p>

<p>To enable the safe and authorized use of sensitive information in support of CMS’s commitment to strengthening our healthcare system by improving the quality of 
  care and lowering healthcare costs.</p>

<p>Vision</p>

<p>Provide leadership to CMS in managing information security and privacy risks appropriate to meet the evolving cyber threat environment.</p>

<p>Strategic Objective</p>

<p>Strengthen the protection of sensitive information entrusted to CMS through a resilient IT infrastructure and mature information security and privacy program. 
</p>
      
  </div>
</section>
